<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>EzbNewsAction</servlet-name>
    <servlet-class>action.manage.EzbNews.EzbNewsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbNewsAddAction</servlet-name>
    <servlet-class>action.manage.EzbNews.EzbNewsAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbNewsDeleteAction</servlet-name>
    <servlet-class>action.manage.EzbNews.EzbNewsDeleteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbNewsGetIdAction</servlet-name>
    <servlet-class>action.manage.EzbNews.EzbNewsGetIdAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbNewsUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbNews.EzbNewsUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentCheckAllAction</servlet-name>
    <servlet-class>action.manage.EzbComment.EzbCommentCheckAllAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentDeleteAction</servlet-name>
    <servlet-class>action.manage.EzbComment.EzbCommentDeleteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentGetIdAction</servlet-name>
    <servlet-class>action.manage.EzbComment.EzbCommentGetIdAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbComment.EzbCommentUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbUserCheckAllAction</servlet-name>
    <servlet-class>action.manage.EzbUser.EzbUserCheckAllAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbUserUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbUser.EzbUserUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbUserGetIdAction</servlet-name>
    <servlet-class>action.manage.EzbUser.EzbUserGetIdAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbUserDeleteAction</servlet-name>
    <servlet-class>action.manage.EzbUser.EzbUserDeleteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCheckAllAction</servlet-name>
    <servlet-class>action.manage.EzbProduct.EzbProductCheckAllAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryCheckAllAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryCheckAllAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryGetIdAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryGetIdAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryDelAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryDelAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryAddAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryCheckByPidAction</servlet-name>
    <servlet-class>action.manage.EzbProductCategory.EzbProductCategoryCheckByPidAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthImgAction</servlet-name>
    <servlet-class>action.manage.EzbYanZhengMa.AuthImgAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>indexAction</servlet-name>
    <servlet-class>action.web.indexAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbOrderCheckAllAction</servlet-name>
    <servlet-class>action.manage.EzbOrder.EzbOrderCheckAllAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbOrderFindAction</servlet-name>
    <servlet-class>action.manage.EzbOrder.EzbOrderFindAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductAddAction</servlet-name>
    <servlet-class>action.manage.EzbProduct.EzbProductAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductDeleteAction</servlet-name>
    <servlet-class>action.manage.EzbProduct.EzbProductDeleteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbProduct.EzbProductUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductGetIdAction</servlet-name>
    <servlet-class>action.manage.EzbProduct.EzbProductGetIdAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbLoginAction</servlet-name>
    <servlet-class>action.web.EzbLoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbLogoutAction</servlet-name>
    <servlet-class>action.web.EzbLogoutAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbRegAction</servlet-name>
    <servlet-class>action.web.EzbRegAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductViewAction</servlet-name>
    <servlet-class>action.web.EzbProductViewAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbNewsViewAction</servlet-name>
    <servlet-class>action.web.EzbNewsViewAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentViewAction</servlet-name>
    <servlet-class>action.web.EzbCommentViewAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbCommentAddAction</servlet-name>
    <servlet-class>action.web.EzbCommentAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductCategoryClick</servlet-name>
    <servlet-class>action.web.EzbProductCategoryClick</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbShopCarAddAction</servlet-name>
    <servlet-class>action.web.EzbShopCarAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbShopCarDeleteAction</servlet-name>
    <servlet-class>action.web.EzbShopCarDeleteAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbShopCarClearAction</servlet-name>
    <servlet-class>action.web.EzbShopCarClearAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbShopCarUpdateAction</servlet-name>
    <servlet-class>action.web.EzbShopCarUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbProductListAction</servlet-name>
    <servlet-class>action.web.EzbProductListAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbOrderUpdateAction</servlet-name>
    <servlet-class>action.manage.EzbOrder.EzbOrderUpdateAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbAdressShowAction</servlet-name>
    <servlet-class>action.web.EzbAdressShowAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbAdressAddAction</servlet-name>
    <servlet-class>action.web.EzbAdressAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbOrderAddAction</servlet-name>
    <servlet-class>action.web.EzbOrderAddAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EzbGameAction</servlet-name>
    <servlet-class>Game.EzbGameAction</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>EzbNewsAction</servlet-name>
    <url-pattern>/EzbNewsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbNewsAddAction</servlet-name>
    <url-pattern>/EzbNewsAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbNewsDeleteAction</servlet-name>
    <url-pattern>/EzbNewsDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbNewsGetIdAction</servlet-name>
    <url-pattern>/EzbNewsGetIdAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbNewsUpdateAction</servlet-name>
    <url-pattern>/EzbNewsUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentCheckAllAction</servlet-name>
    <url-pattern>/EzbCommentCheckAllAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentDeleteAction</servlet-name>
    <url-pattern>/EzbCommentDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentGetIdAction</servlet-name>
    <url-pattern>/EzbCommentGetIdAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentUpdateAction</servlet-name>
    <url-pattern>/EzbCommentUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbUserCheckAllAction</servlet-name>
    <url-pattern>/EzbUserCheckAllAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbUserUpdateAction</servlet-name>
    <url-pattern>/EzbUserUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbUserGetIdAction</servlet-name>
    <url-pattern>/EzbUserGetIdAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbUserDeleteAction</servlet-name>
    <url-pattern>/EzbUserDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCheckAllAction</servlet-name>
    <url-pattern>/EzbProductCheckAllAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryCheckAllAction</servlet-name>
    <url-pattern>/EzbProductCategoryCheckAllAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryUpdateAction</servlet-name>
    <url-pattern>/EzbProductCategoryUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryGetIdAction</servlet-name>
    <url-pattern>/EzbProductCategoryGetIdAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryDelAction</servlet-name>
    <url-pattern>/EzbProductCategoryDelAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryAddAction</servlet-name>
    <url-pattern>/EzbProductCategoryAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryCheckByPidAction</servlet-name>
    <url-pattern>/EzbProductCategoryCheckByPidAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthImgAction</servlet-name>
    <url-pattern>/AuthImgAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>indexAction</servlet-name>
    <url-pattern>/indexAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbOrderCheckAllAction</servlet-name>
    <url-pattern>/EzbOrderCheckAllAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbOrderFindAction</servlet-name>
    <url-pattern>/EzbOrderFindAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductAddAction</servlet-name>
    <url-pattern>/EzbProductAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductDeleteAction</servlet-name>
    <url-pattern>/EzbProductDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductUpdateAction</servlet-name>
    <url-pattern>/EzbProductUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductGetIdAction</servlet-name>
    <url-pattern>/EzbProductGetIdAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbLoginAction</servlet-name>
    <url-pattern>/EzbLoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbLogoutAction</servlet-name>
    <url-pattern>/EzbLogoutAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbRegAction</servlet-name>
    <url-pattern>/EzbRegAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductViewAction</servlet-name>
    <url-pattern>/EzbProductViewAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbNewsViewAction</servlet-name>
    <url-pattern>/EzbNewsViewAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentViewAction</servlet-name>
    <url-pattern>/EzbCommentViewAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbCommentAddAction</servlet-name>
    <url-pattern>/EzbCommentAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductCategoryClick</servlet-name>
    <url-pattern>/EzbProductCategoryClick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbShopCarAddAction</servlet-name>
    <url-pattern>/EzbShopCarAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbShopCarDeleteAction</servlet-name>
    <url-pattern>/EzbShopCarDeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbShopCarClearAction</servlet-name>
    <url-pattern>/EzbShopCarClearAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbShopCarUpdateAction</servlet-name>
    <url-pattern>/EzbShopCarUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbProductListAction</servlet-name>
    <url-pattern>/EzbProductListAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbOrderUpdateAction</servlet-name>
    <url-pattern>/EzbOrderUpdateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbAdressShowAction</servlet-name>
    <url-pattern>/EzbAdressShowAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbAdressAddAction</servlet-name>
    <url-pattern>/EzbAdressAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbOrderAddAction</servlet-name>
    <url-pattern>/EzbOrderAddAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EzbGameAction</servlet-name>
    <url-pattern>/EzbGameAction</url-pattern>
  </servlet-mapping>
  
  <listener>
  		<listener-class>fileter.ShopcarListener</listener-class>
  </listener>
  
  <filter>
  		<filter-name>ManageFilter</filter-name>
  		<filter-class>fileter.ManageFilter</filter-class>
  </filter>	
  <filter-mapping>
  		<filter-name>ManageFilter</filter-name>
  		<url-pattern>/manage/*</url-pattern>
  </filter-mapping>

  <filter>
  		<filter-name>Encoding</filter-name>
  		<filter-class>fileter.EncodingFilter</filter-class>
  </filter>	
  <filter-mapping>
  		<filter-name>Encoding</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
